$main: #51459e;
$secondary: #f9896b;
$auxiliar: #84e8f4;
$title: #505887;
$textDark: #5b5b5b;
$text: #9a9a9a;
$textLight: #9698ab;
$lightGreyBG: #f9f9f9;
$lightBlueBG: #f5f9fd;
$lightestBlueBG: #ccfaff;
$border: #c4c4c4;
$white: #fff;
$black: #000;
