---
import Sidebar from "@components/Sidebar/Sidebar.astro";
import "@fontsource/source-sans-pro";
import "normalize.css";
import "../global/styles.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="grid grid-cols-layout bg-white">
      <Sidebar />
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: source-sans-pro, sans-serif;
    background-color: #f6f6f6;
  }
</style>
